*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px solid yellow;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px yellow;
}

